/* CONTAINER */

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
}
button:focus,
input:focus {
  outline: none;
}
body {
  position: relative;
  padding: 8vh 0;
  margin: 0;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}
#container {
  position: relative;
  width: 400px;
  height: 100%;
  min-height: 610px;
  margin: auto;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* HEADER */

#header .title {
  padding: 25px 35px 50px 35px;
  margin: 0;
  background: #d7fdff;
  font-size: 1.4em;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #606060;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 35px;
  margin-bottom: -25px;
  transform: translateY(-25px);
}
.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 15px;
  background-color: #00a6ff;
  border: 2px solid #00a6ff;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
.btn-add i {
  padding-right: 15px;
}
#btn-delete-all {
  display: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-color: #b7b7b7;
  border: 2px solid #b7b7b7;
  border-radius: 50%;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
}
#btn-delete-all.active {
  display: flex;
}

/* LOG */

.log-container {
  padding: 25px 35px 0;
  background: #d7fdff;
}

.log-container > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.log-container > div:first-child {
  justify-content: space-between;
  margin-bottom: 10px;
}

.log-container input {
  width: calc(50% - 5px);
  padding: 10px 20px;
  font-size: 12px;
  line-height: 1;
  border-radius: 4px;
  background: #fff;
  border: 0;
}
.log-container button {
  width: 32%;
  padding: 10px 15px;
  margin: 0 3px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  cursor: pointer;
}
#btn-login {
  background: #5dbf3c;
}
#btn-signup {
  background: #b1b3b0;
}
#btn-logout {
  background: #da3a3a;
}
.log-container button.hide {
  display: none;
}

/* CONTENT */

#content {
  padding: 25px 35px;
}
.today {
  font-size: 14px;
  margin: 0 0 15px;
}
#date {
  font-weight: 700;
}
#empty {
  display: none;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #bfbfbf;
  margin: 60px 0 40px;
}
#empty.active {
  display: block;
}
#list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#list li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  color: #606060;
}
#list li:last-child {
  border-bottom: none;
}
#list li span {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 34px;
}
#list i.maroon {
  color: maroon;
}
#list i.black {
  color: black;
}
#list i.green {
  color: green;
}
#list i.orange {
  color: orange;
}
#list i.red {
  color: red;
}
#list li .name {
  padding: 0 15px 0 0;
}
#list li .date {
  padding: 0 15px 0 5px;
}
#list li i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 13px;
  width: 25px;
  height: 34px;
  cursor: pointer;
  color: #b9b9b9;
}
#list .tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  padding: 5px;
  background: #303030;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  transition: all 150ms ease-in-out;
  pointer-events: none;
}
#list .tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  top: calc(100% - 1px);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #303030;
  z-index: 10;
  transform: translateX(-50%);
}
#list .smiley-container,
#list .recipe-container {
  position: relative;
  cursor: pointer;
}
#list .smiley.active + .tooltip,
#list .icon-recipe.active + .tooltip {
  transform: translate(-50%, 0);
  opacity: 1;
}

/* PANEL-ADD */

#panel-add {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 35px;
  background: #fff;
  z-index: 1;
}
#container.add-active #panel-add {
  display: block;
}
#btn-close-add {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
  color: #a7a7a7;
}
#panel-add .title {
  font-size: 1.2em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #151515;
  margin: 0 0 25px;
}
#panel-add .btn-add {
  margin-top: 25px;
}
.form-section {
  margin-bottom: 15px;
}
.form-section label {
  display: block;
  margin-bottom: 5px;
  color: #777;
}
.form-section label .asterisk {
  padding-left: 5px;
  color: red;
}
.form-section input:not([type="radio"]) {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background: #fff;
  border: 2px solid #f0f0f0;
  border-radius: 25px;
  font-size: 14px;
}
.form-section input:focus {
  border-color: #777;
}
.form-section p {
  margin: 0 0 15px;
  color: #777;
}
.radio-container {
  display: inline-flex;
  align-items: center;
}
.radio-container:first-of-type {
  padding-right: 25px;
}
.radio-container input {
  margin: 0 10px 0 0;
}
.radio-container label {
  margin: 0;
}
.mention {
  margin: 25px 0 0;
  font-size: 15px;
  font-style: italic;
  color: #777;
}
.mention .asterisk {
  padding-right: 5px;
  color: red;
}

/* FOOTER */

#footer {
  margin-bottom: 5px;
  color: #606060;
}
#footer p {
  font-size: 12px;
  text-align: center;
  margin: 0;
}
#footer i {
  color: #ff002d;
}
#footer a {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
  body {
    padding: 0;
  }
  #container {
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
  }
  #header .title,
  .buttons,
  #content,
  #panel-add,
  #footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
